body{
    margin:0;
    padding: 0;
    background: #e9eaed;
    font-size: 16px;
    /*文字回退*/
    font-family: 微软雅黑 ， 宋体 ， sans-serif;
}
h1, h2, h3, h4, h5, h6 ,ul, li, ol, p{
    margin: 0;
    color:white;
    list-style: none;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
    /* 下划线去掉*/
}
img{
    width: 100%;
    height: 100%;
}
.element{
    width: 100%;
    height: 100%;
}
/*默认样式*/
.header{
    width: 100%;
    height: 60px;
    background: #1c2327;
}
.headerBox{
    margin:0 auto;
    width:1200px;
    height: 100%;
    /*    所有文字放中间*/
    line-height: 60px; /* 单行文本垂直居中*/

}
.headerBox h1{
    /*width:280px;*/
    height: 100%;
    float: left;
    color: white;
    font-weight: normal;
    /*padding-top: 8px;*/
}
.headerBox .nav{
    margin-left: 75px;
    /*width:765px;由子元素填充*/
    height: 100%;
    float: left;
}
.headerBox .nav li{
    /*padding-top: 17px;*/
    height: 100%;
    /*width: 150px; 不设置，由子元素填充*/
    float: left;
    margin-right: 36px;
    list-style: none;
}
.headerBox .nav li a:hover{
    color: #ffff00;
}
/*.dropdown{*/
/*    float:left;*/
/*    width:150px;*/
/*    height: 100%;*/
/*    !*padding-top: 17px;*!*/
/*}*/
.headerBox .rearch{
    width:62px;
    height: 100%;
    float: right;
    /*padding-top: 17px;*/
}
.headerBox .rearch .iconfont{
    color: white;
    font-size: 24px;
}
.main{
    width: 1200px;
    margin: 20px auto;
}
.main .left{
    width: 860px;
    float: left;
    margin-right: 20px;
}
.main .left .textdoc{
    position: relative;
    background-color: #ffffff;
    padding: 20px 20px 200px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.main .left .textdoc h1{
    padding:20px 0;
    color: #000;
    font-size: 22px;
}
.main .left .textdoc .date{
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.main .left .textdoc .date span{
    color: #999999;
    margin: 0 5px;
}
.main .left .textdoc .date img{
    width: 30px;
    height: 30px;
}
.main .left .textdoc .brief{
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px;
    margin: 10px auto 0;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}
.main .left .textdoc .textarea{
    padding: 20px 0;
}
.main .left .textdoc .textarea p{
    color: #333333;
    padding: 10px 0;
    line-height: 1.5;
}
.main .left .textdoc .textarea img{
    display: block;
    width: 600px;
    height: 400px;
    margin: auto;
    padding: 10px 0;
}
.main .left .textdoc .zan{
    padding: 5px 10px;
    height: 30px;
    line-height: 30px;
    background: #FF947C;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -50px;
}
.main .left .textdoc .shangxia{
    position: absolute;
    bottom: 0;
}
.main .left .textdoc .shangxia span{
   display: block;
    padding: 10px 0;
    color: #333333;
}
.main .left .textdoc .shangxia span a{
    color: #333333;
}
.main .left .textdoc .shangxia span a:hover{
    text-decoration: underline;
}
.left .discuss{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.left .discuss ul{
    padding: 20px 0;
}
.left .discuss ul li{
    height: 100px;
    background: #36d681;
    border-bottom: 2px solid #999999;
    display: flex;
    position: relative;
}
.left .discuss ul li .rentou{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #FF947C;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.left .discuss ul li > .p{
    flex:1;
    margin-left: 80px;
    padding-top: 30px;
    position: relative;
}
.left .discuss ul li > .p span{
     position: absolute;
     right: 0;
     top: 30px;
    font-size: 12px;
}
.left .discuss ul li > .p p{
     margin-bottom: 5px;
}
.title{
    border-bottom: 2px solid #eeeeee;
    height: 41px;
    line-height: 41px;
    position: relative;
}

.title .wid{
    position: absolute;
    width: 70px;
    height: 2px;
    background: #000;
    left: 0;
    bottom: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: width .5s ease;
}
.title:hover .wid{
    width: 100px;
}
.textdoc .locate{
   float:right;
    color: #666666;
    font-size: 14px;
}
.main .right{
    width: 260px;
    height: 400px;
    float: left;
    /*background: #fbb548;*/
}
.clicksort{
    width: 240px;
    /*margin-right: 20px;*/
    background: #ffffff;
    border-radius: 5px;
    padding:20px;
}
.clicksort .connect > a{
    display: block;
    width: 240px;
    height: 120px;
    /*background: #579ab4;*/
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
}
.clicksort .connect a > img{
    transition: all 1s ease-out .1s;
}
.clicksort .connect a:hover img{
    transform: scale(1.2,1.2);
}
.clicksort .connect .textarea{
    width: 240px;
}
.clicksort .connect .textarea a{
    width: 220px;
    color: #000;
    float: right;
    line-height: 30px;
    /*background: #ac3f9a;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clicksort .textarea li{
    width: 240px;
    height: 30px;
    margin-bottom: 10px;
    /*background: #2c5160;*/
    line-height: 30px;
    position: relative;
}
.clicksort .textarea li i::before{
    margin-left: 5px;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    font-style: normal;
    text-align: center;
    line-height: 16px;
    float: left;
    /*background: #ac3f9a;*/
    position: absolute;
    top: 50%;
    margin-top: -7px;
    font-size: 14px;
    background: #ff6600;
    color: #cabee2;
    font-family: sans-serif;
}
.clicksort .textarea li:first-child i::before{
    content: '1';
}
.clicksort .textarea li:nth-child(2) i::before{
    content: '2';
}
.clicksort .textarea li:nth-child(3) i::before{
    content: '3';
}
.clicksort .textarea li:nth-child(2n){
    background: #f6f6f6;
}
.recommend{
    width: 240px;
    /*margin-right: 20px;*/
    background: #ffffff;
    border-radius: 5px;
    padding:20px;
    margin-top: 20px;
}
.recommend > a > .da {
    margin:20px 0;
    width: 240px;
    height: 123.8px;
    position: relative;
    overflow: hidden;
}
.recommend > a > .da span{
    color: #ffffff;
    padding:0 10px;
    position: absolute;
    top: 45px;
    left: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.recommend > a > .da img{
    transition: all 2s ease-out .1s;
}
.recommend > a > .da:hover img{
    transform: scale(1.2,1.2);
}
.recommend a > .hrey{
    height: 70px;
    width: 100%;
    background:#F6F6F6 ;
    display: flex;
}
.recommend a > .hrey .xiao{
    height: 70px;
    width: 70px;
    overflow: hidden;
}
.recommend > a > .hrey .xiao img{
    transition: all 2s ease-out .1s;
}
.recommend > a > .hrey .xiao:hover img{
    transform: scale(1.2,1.2);
}
.recommend > a >.hrey p{
    flex: 1;
    color: #333333;
    padding: 15px 5px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
}
.right .jin{
    width: 240px;
    /*margin-right: 20px;*/
    background: #ffffff;
    border-radius: 5px;
    padding:20px;
    margin-top: 20px;
}
.label{
    width: 240px;
    /*margin-right: 20px;*/
    background: #ffffff;
    border-radius: 5px;
    padding:20px;
    margin-top: 20px;
}
.label ul{
    margin-top: 20px;
}
.label ul li{
    color: #000;
    display: inline-block;
    padding:3px 3px;
    border-radius: 10px;
    margin: 5px 5px;
    background: #579ab4;
}
.label ul li:nth-child(2n){
    background: #36d681;
}
.label ul li:nth-child(3n){
    background: #FF947C;
}
.guass{
    width: 240px;
    /*margin-right: 20px;*/
    background: #ffffff;
    border-radius: 5px;
    padding:20px;
    margin-top: 20px;
}
.guass ul{
    margin-top: 10px;
}
.guass ul li{
    line-height: 22px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}
.guass ul li > a{
    color: #333333;
}
.guass ul li::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
}
footer{
    background: #373D41;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    border-top: #00C1DE 10px solid;
    padding: 60px 100px;
    color: #73777a;
    font-size: 18px;
}
footer > div > div{
    padding: 10px 10px;
}